
body {
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #bdc1c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 6px;
}

.nav-item {
  padding-left: 15px;
}

.g-menu {
  height: 40px;
  width: 40px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.logo-container {
  max-height: 230px;
  position: relative;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.logo-row {
  height: calc(100% - 215px);
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  vertical-align: bottom;
}

.search-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}

.search-input {
  display: flex;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
